<?xml version="1.0" encoding="utf-8"?>
<robot>

    <transmission name="trans_yaw_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="yaw_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="yaw_joint">
            <offset>-1.5226</offset>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="trans_pitch_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="pitch_joint_motor">
            <mechanicalReduction>-11</mechanicalReduction>
        </actuator>
        <joint name="pitch_joint">
            <offset>0.3547</offset>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="trans_barrel_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="barrel_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="barrel_joint">
            <offset>-0.009</offset>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

</robot>
