<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lidar_mid360">

    <xacro:property name="M_PI" value="3.1415926"/>
    <xacro:property name="update_rate" value="10"/>
    <xacro:property name="resolution" value="0.01"/>
    <xacro:property name="noise_mean" value="0.01"/>
    <xacro:property name="noise_stddev" value="0.00"/>
    <xacro:property name="laser_min_range" value="0.1"/>
    <xacro:property name="laser_max_range" value="200"/>
    <xacro:property name="vertical_fov" value="70.4"/>
    <xacro:property name="ros_topic" value="vlp_points"/>
    <xacro:property name="samples" value="4000"/>
    <xacro:property name="downsample" value="1"/>

    <xacro:macro name="livox_mid360" params="connected_to lidar_name simulation xyz:='0 0 0' rpy:='0 0 0' ">

        <!-- Lidar is fixed to the connected_to link -->
        <joint name="${lidar_name}_joint" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <parent link="${connected_to}"/>
            <child link="${lidar_name}"/>
        </joint>

        <!-- Lidar link -->
        <link name="${lidar_name}">
            <inertial>
                <mass value="0.114"/>
                <origin xyz="0 0 0"/>
                <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                         iyy="0.001" iyz="0.0"
                         izz="0.001"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://rm_description/meshes/common/livox_mid360.stl" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 -0.005657 -0.005657" rpy="0 0 0"/>
                <geometry>
                    <cylinder length="0.078" radius="0.05"/>
                </geometry>
            </collision>
        </link>

        <xacro:if value="${simulation}">
            <gazebo reference="${lidar_name}">
                <sensor type="ray" name="${lidar_name}">
                    <pose>0 0 0 0 0 0</pose>
                    <visualize>true</visualize>
                    <update_rate>${update_rate}</update_rate>
                    <!-- This ray plgin is only for visualization. -->
                    <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
                        <ray>
                            <scan>
                                <horizontal>
                                    <samples>0</samples>
                                    <resolution>1</resolution>
                                    <min_angle>${0}</min_angle>
                                    <max_angle>${2*M_PI}</max_angle>
                                </horizontal>
                                <vertical>
                                    <samples>16</samples>
                                    <resolution>1</resolution>
                                    <min_angle>-0.261799</min_angle>
                                    <max_angle>0.261799</max_angle>
                                </vertical>
                            </scan>
                            <range>
                                <min>${laser_min_range}</min>
                                <max>${laser_max_range}</max>
                                <resolution>${resolution}</resolution>
                            </range>
                            <noise>
                                <type>gaussian</type>
                                <mean>${noise_mean}</mean>
                                <stddev>${noise_stddev}</stddev>
                            </noise>
                        </ray>
                        <samples>${samples}</samples>
                        <downsample>${downsample}</downsample>
                        <csv_file_name>package://livox_laser_simulation/scan_mode/mid360.csv</csv_file_name>
                        <ros_topic>${ros_topic}</ros_topic>
                    </plugin>
                </sensor>
            </gazebo>
        </xacro:if>

    </xacro:macro>
</robot>
