from dynamic_reconfigure.parameter_generator_catkin import *
PACKAGE = "rgbd_pcl"
# 2.创建生成器
gen = ParameterGenerator()

# 3.向生成器添加若干参数
#add(name, paramtype, level, description, default=None, min=None, max=None, edit_methodz`="")
gen.add("x_min",double_t,0,"直通滤波x_min距离",-0.04,-2,2)
gen.add("x_max",double_t,0,"直通滤波x_max距离",0.32,-2,2)
gen.add("y_min",double_t,0,"直通滤波y_min距离",-0.4,-2,2)
gen.add("y_max",double_t,0,"直通滤波y_max距离",0.24,-2,2)
gen.add("z_max",double_t,0,"直通滤波z_max距离",0.55,0.25,6)

gen.add("leaf",double_t,0,"体素滤波网格大小",0.005,0,0.5)

gen.add("sor_MeanK",int_t,0,"离群点剔除的K值",200,1,350)
gen.add("sor_StddevMulThresh",double_t,0,"离群点剔除的方差",0.2,0.1,3)
gen.add("enable_sor",bool_t,0,"是否启用离群点剔除",True)


gen.add("cylinder_KSearch_num",int_t,0,"K近邻搜索点的个数",50,1,100)
gen.add("cylinder_Radius_min",double_t,0,"圆柱模型半径最小值",0.017,0.005,0.05)
gen.add("cylinder_Radius_max",double_t,0,"圆柱模型半径最大值",0.02,0.005,0.05)
gen.add("MaxIterations",int_t,0,"迭代的最大次数",10000,1,20000)


gen.add("enable_cylinder_filter",bool_t,0,"是否开始分割圆柱",True)
seg_Method_Type = gen.enum([
            gen.const("SAC_RANSAC",int_t,0,"a small size"),
            gen.const("SAC_LMEDS",int_t,1,"a medium size"),
            gen.const("SAC_MSAC",int_t,2,"a big size"),
            gen.const("SAC_RRANSAC",int_t,3,"a big size"),
            gen.const("SAC_RMSAC",int_t,4,"a big size"),
            gen.const("SAC_MLESAC",int_t,5,"a big size"),
            gen.const("SAC_PROSAC",int_t,6,"a big size"),
            ],"圆柱体分割进行参数估计的方法")

gen.add("seg_Method_Type",int_t,0,"列表参数",0,0,6, edit_method=seg_Method_Type)

gen.add("enable_visualization",bool_t,0,"是否在rviz中绘制圆柱",True)


#gen.add("double_param",double_t,0,"浮点参数",1.57,0,3.14)
#gen.add("string_param",str_t,0,"字符串参数","hello world ")
#gen.add("bool_param",bool_t,0,"bool参数",True)#
#many_enum = gen.enum([gen.const("small",int_t,0,"a small size"),
#            gen.const("mediun",int_t,1,"a medium size"),
#            gen.const("big",int_t,2,"a big size")
#            ],"a car size set")
#
#gen.add("list_param",int_t,0,"列表参数",0,0,2, edit_method=many_enum)

# 3.向生成器添加若干参数
#add(name, paramtype, level, description, default=None, min=None, max=None, edit_method="")

exit(gen.generate(PACKAGE,"rgbd_pcl_node","rgbd_pcl"))