#!/usr/bin/env python
from dynamic_reconfigure.parameter_generator_catkin import *

PACKAGE = "rgbd_pcl"

gen = ParameterGenerator()

# name,    type,   level, description,         default, min,  max
# debug 图像选择（下拉菜单）
debug_enum = gen.enum([
    gen.const("raw", int_t, 0, "Publish raw color image"),
    gen.const("morphology", int_t, 1, "Publish morphology result (mono)"),
    gen.const("Contours", int_t, 2, "Draw and publish ALL contours found by findContours"),
    gen.const("Contours_select", int_t, 3, "Draw and publish select_bar_contours only"),
    gen.const("draw_xyz", int_t, 4, "Draw xyz")

], "Debug view type")

gen.add("debug_view", int_t, 0, "Debug image view type", 0, 0, 4, edit_method=debug_enum)

exit(gen.generate(PACKAGE, "tradition_pre_process", "SideBarCfg"))
