<?xml version="1.0" encoding="utf-8"?>
<robot>

    <transmission name="trans_yaw_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="yaw_joint_motor">
            <mechanicalReduction>-1200</mechanicalReduction>
        </actuator>
        <joint name="yaw_joint">
            <offset>0.0</offset>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="trans_left_pitch_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="left_pitch_joint_motor">
            <mechanicalReduction>-1200</mechanicalReduction>
        </actuator>
        <joint name="left_pitch_joint">
            <offset>0.0</offset>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="trans_right_pitch_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="right_pitch_joint_motor">
            <mechanicalReduction>-1200</mechanicalReduction>
        </actuator>
        <joint name="right_pitch_joint">
            <offset>0.0</offset>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

</robot>
