<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="threshold" value="0.1"/>
    <xacro:property name="pitch_lower_limit" value="-0.467"/>
    <xacro:property name="pitch_upper_limit" value="0.307"/>
    <xacro:property name="yaw_lower_limit" value="-1.052"/>
    <xacro:property name="yaw_upper_limit" value="1.055"/>

    <link name="yaw">
        <inertial>
            <mass value="0.948175"/>
            <origin xyz="-0.025514 -0.005502 -0.047684"/>
            <inertia ixx="1.020e-03" ixy="-1.701e-04" ixz="-5.731e-04" iyy="1.708e-03"
                     iyz="-1.106e-04" izz="1.251e-03"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://rm_description/meshes/drone/yaw.stl" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://rm_description/meshes/drone/yaw.stl" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>

    <joint name="yaw_joint" type="revolute">
        <origin xyz="0 0 -0.003"
                rpy="0 0 0"/>
        <dynamics damping="0.0" friction="0.1"/>
        <limit effort="1.2" velocity="31" lower="${yaw_lower_limit}" upper="${yaw_upper_limit}"/>
        <safety_controller k_position="100" k_velocity="0.1"
                           soft_lower_limit="${yaw_lower_limit+threshold}"
                           soft_upper_limit="${yaw_upper_limit-threshold}"/>
        <parent link="base_link"/>
        <child link="yaw"/>
        <axis xyz="0 0 1"/>
    </joint>

    <link name="pitch">
        <inertial>
            <mass value="1.390125"/>
            <origin xyz="0.060522 0.001897 -0.014107"/>
            <inertia ixx="3.385e-03" ixy="3.000e-04" ixz="-2.002e-03" iyy="8.459e-03"
                     iyz="7.6495077e-05" izz="6.754e-03"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://rm_description/meshes/drone/pitch.stl" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://rm_description/meshes/drone/pitch.stl" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>

    <joint name="pitch_joint" type="revolute">
        <origin xyz="0 0 -0.134" rpy="0 0 0"/>
        <dynamics damping="0.0" friction="0.1"/>
        <limit effort="3.0" velocity="86" lower="${pitch_lower_limit}" upper="${pitch_upper_limit}"/>
        <safety_controller k_position="100" k_velocity="0.1"
                           soft_lower_limit="${pitch_lower_limit+threshold}"
                           soft_upper_limit="${pitch_upper_limit-threshold}"/>
        <parent link="yaw"/>
        <child link="pitch"/>
        <axis xyz="0 1 0 "/>
    </joint>

</robot>
